# Django Base Settings
SECRET_KEY=snapspot-super-secret-key-2026-change-in-prod
DEBUG=True
ALLOWED_HOSTS=*

# Database Configuration (PostgreSQL / PostGIS)
USE_POSTGRES=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=snapspot_db
DB_USER=snapspot_user
DB_PASSWORD=snapspot_password_2026
DB_HOST=postgres
DB_PORT=5432

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
